/* Customized accordions */
[part="toggle"] {
    color: var(--material-primary-color);
}

div[part="summary"] {
    background-color: rgba(163, 211, 217, 0.2);
    min-height: 40px;
    box-shadow: none;
}

div[part="content"] {
    padding: 0px;
}