// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
$v-font-size: 13px !default;
//$v-font-weight: 300;
//$v-font-family: lato-normal, sans-serif;
$v-font-family: ubuntu-r;
// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

$v-focus-style: none;

$foot-login-padding: 10px !default;

$v-luminance-threshold: 180 !default;

$editor-background-color: #3b3f42 !default;
$valo-menu-background-color: $editor-background-color !default;

$v-focus-color: rgb(96, 160, 234) !default;
$v-error-indicator-color: #eb2977 !default;
$v-friendly-color: rgb(54, 185, 85);

//$v-font-size: 15px !default;
$v-font-weight: 400 !default;
$v-unit-size: 32px !default;

$login-info-width: 300px !default;
$login-info-opacity: 0.7 !default;
$login-background-color: $editor-background-color !default;
// Get more background images from unsplash.com (remember to optimize the filesize)
$login-background-image: "img/archetype-login-bg.jpg" !default;

$editor-shadow: 0 0 10px 10px rgba(0,0,0,.1) !default;
$editor-embed-background-color: darken($editor-background-color, 5%) !default;
$editor-raised-background-color: lighten($editor-background-color, 10%) !default;
$editor-caption-font-color: valo-font-color($editor-background-color, 0.5) !default;

$v-layout-margin-top: round($v-unit-size / 1.5) !default;
$v-layout-margin-right: $v-layout-margin-top !default;
$v-layout-margin-bottom: $v-layout-margin-top !default;
$v-layout-margin-left: $v-layout-margin-top !default;
$v-layout-spacing-vertical: round($v-unit-size / 1.8) !default;
$v-layout-spacing-horizontal: round($v-unit-size / 1.8) !default;

$v-field-background-color: #ccffe6;
//nice pink color color: #eb2977;

@import "../valo/valo.scss";

@mixin nuqui {
    @include valo;
    
    .v-window {
        min-height: 50% !important;
        min-width: 50% !important;
    }
    
    .blueicon .v-icon {
        color: #57afff;
        font-size: 20px;
    }

    .v-button-link{
        text-decoration: underline;
        border: none !important;
    }
    
    .v-button-link:after {
	border: none !important;
    }

    .v-button-link:focus:after {
	border: none !important;
    }
    
    .v-button-link:hover:after {
        background: transparent;
        border: none !important;
    }

    .v-button-link:active {
        opacity: 0.7;
        filter: alpha(opacity=70) ;
        border: none !important;
    }

    .v-button-link:active:after {
        background: transparent;
        border: none !important;
    }

    .v-button-link:hover {
        color: #8dbbf0;
        border: none !important;
    }

    .v-button-link.v-disabled {
        opacity: 0.5;
        filter: alpha(opacity=50) ;
        border: none !important;
    }

    .h1{
        color: gold;
        font-size: 1em;
    }
    
    
    
    .v-tree-node-bold {
        font-weight: bold;
        color: #eb2977
    }
    
    .v-table-cell-content-disable {
        background-color: gainsboro;
        color: graytext;
        font-style: italic;
    }
    
    .v-tree-node-caption-disabled {
        background-color: gainsboro;
        color: graytext;
        font-style: italic;
    }
    
    // make
    .main-area {
        position: relative;
    }
    
    .work-area{
        position: absolute;
    }
    
    .right-area {
      z-index:9999;
      position: absolute;
      right: 0;
      height: 100%;
      min-width: 30%;
      background: #f0f0f0;
      @include transition(all 300ms);
      @include transform(translatex(100%));
    }

    // Enables animation for opening rigth panel 
    .visible-right {
        @include transform(none);
        @include box-shadow($editor-shadow);
    }
  
    .left-area {
      z-index:9999;
      position: absolute;
      left: 0;
      height: 100%;
      min-width: 30%;
      background: #f0f0f0;
      @include transition(all 300ms);
      @include transform(translatex(-100%));
    }
    
    // Enables animation for opening left panel 
    .visible-left {
      @include transform(none);
      @include box-shadow($editor-shadow);
    }
  
    .top-area {
      top: 0;
      background: chartreuse;
      @include transition(all 300ms);
      @include transform(translatey(-100%));
    }
  
    // Enables animation for opening top panel 
    .visible-top {
      @include transform(none);
      @include box-shadow($editor-shadow);
    }
  
    .bottom-area {
      bottom: 0;
      background: #eb2977;
      @include transition(all 300ms);
      @include transform(translatey(100%));
    }
    // Enables animation for opening rigth panel 
    .visible-bottom {
      @include transform(none);
      @include box-shadow($editor-shadow);
    }
    
    .v-button-selected {
        background: #999999;
    }
    // PROCESS MANAGER STYLE DEFINITION
    .v-layout {
        padding: 0 0 0 0;      
    }
    
    .processmanager {
        .v-layout {
            /*font-size: 24px;*/
            padding: 0 0 0 0;
        }       
        
        .v-button-activity {
            border-radius: 0px;
            /*font-size: 17px;*/
            text-align: left;
            /*font-weight: bold;*/
            background: transparent;
            box-shadow: 0px 0px 0px 0px;
            
            background-color: Transparent;
            background-repeat:no-repeat;
            border: none;
            cursor:pointer;
            overflow: hidden;
            outline:none;
        }
        
        .v-button-activity-current {
            background: #d1e7cd;                        
        }
                        
        .v-menubar { 
            /*font-size: 21px;*/
        }
            .v-menubar-submenu { 
                                
            }
                .v-menubar-menuitem { 
                    border-radius: 0px;
                }
                
        .v-label {
            /*font-size: 24pt;*/
            line-height: 24pt;
            padding: 5px;
        }
        
        .v-nativebutton {
            background:none!important;
            color:inherit;
            border:none; 
            padding:0!important;
            font: inherit;            
        }
    }
    
    .activitylist {
        .v-layout {
        }
    }
    
    .formmanager {
        .v-vertical {
            font-size: 14px;            
        }
        
        .v-label.empty {
            border-radius: 0px;
            border: 0px solid white;
        }

        .v-label {
            font-size: 11pt;
            line-height: 11pt;
            padding: 5px 5px 5px 5px; 
            padding-bottom: 15px;
            margin: 5px 5px 5px 5px; 
        }

        .v-label.bold {
            font-weight: bold;        
        }

        .v-label.title {
            color: green;
            font-size: 24pt;
        }

        .v-label.subtitle {
            color: green;
        }

        .v-verticallayout, .v-horizontallayout, .v-gridlayout {
            padding: 1px 1px 1px 1px;
            margin: 1px 1px 1px 1px;
        }

        .v-button {
            border: 2px solid lightgray;
            font-size: 11pt;
            line-height: 11pt;
            padding: 5px 5px 5px 5px; 
            padding-bottom: 15px;
            margin: 5px 5px 5px 5px; 
            height: 30px;
        }

        .v-textfield, .v-datefield, .v-filterselect { 
            font-size: 11pt;
            line-height: 11pt;

            height: 40px;
            width: 250px;
            padding: 1px 1px 1px 1px;
            padding-bottom: 10px;
            background-color: $v-field-background-color;
            margin: 1px 1px 1px 1px; 
        }

        .v-filterselect-input, .v-filterselect-button, .v-datefield-textfield, .v-datefield-button {
            background-color: $v-field-background-color;        
        }

        .v-grid-cell {
            background-color: $v-field-background-color;

        }

        .v-image {
            padding-left: 30px;        
            padding-bottom: 30px;
            margin: 5px 5px 5px 5px; 
        }
    }
    
    .darklayout {
        .v-layout {
        }                
        .addpadding {
            padding: 100px 50px;            
        }
    }
    
    /*Login window*/
    .login {
        .v-verticallayout-main {
            background-image: url("/img/background_login.png");
            background-size: cover;
            background: #008080;
        }
        
        .v-verticallayout-dark {
            color: white;
        }
    }
        
    .login-form {
        padding: $v-layout-margin;  
        @include valo-animate-in-fade($duration: 1s);
        
        & .h1{
            font-size: 2.4em;
            color: white;
            font-weight: 300;
        }
       
    }//end login-form   
    
    /* Dashboards */
    .dashboards {
        /*The following style are mostly used for cover components for dashboard windows using a dark theme*/
        .v-verticallayout-dashboard_cover_widget-darkblue {
            background: #375187;
            color: white;
            font-size: x-large;
            font-family: ubuntu-l;
            position: relative;
            min-height: 150px;
        }
        
        .v-verticallayout-dashboard_cover_widget-darkgreen {
            background: #4D8459;
            color: white;
            font-size: x-large;
            position: relative;
            font-family: ubuntu-l;
            min-height: 150px;
        }
        
        .v-verticallayout-dashboard_cover_widget-darkred {
            background: #944C4B;
            color: white;
            font-size: x-large;
            position: relative;
            font-family: ubuntu-l;
            min-height: 150px;
        }
        
        .v-verticallayout-dashboard_cover_widget-darkorange {
            background: #DA9631;
            color: white;
            font-size: x-large;
            position: relative;
            font-family: ubuntu-l;
            min-height: 150px;
        }
        
        .v-verticallayout-dashboard_cover_widget-darkpurple {
            background: #AD2D90;
            color: white;
            font-size: x-large;
            position: relative;
            font-family: ubuntu-l;
            min-height: 150px;
        }
        
        .v-verticallayout-dashboard_cover_widget-darkgrey {
            background: #808080;
            color: white;
            font-size: x-large;
            position: relative;
            font-family: ubuntu-l;
            min-height: 150px;
        }

        .v-label-text-bottomright {
            position: absolute;
            bottom: 0;
            right: 0;
            padding-right: 10px;
        }
    }
    
    
    /*Service Manager*/
    .smanager {
        
    }
    
    .misc {
        .v-menubar-misc-main {
            background: #008080;
            color: white;
        }
    }
    
}
