/* 
    Document   : main
    Created on : May 25, 2011, 4:19:52 PM
    Author     : Charles Edward Bedon Cortazar <charles.bedon@kuwaiba.org>
    Description:
        Main stylesheet.
*/

/* 
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: small;
    min-height: 600px;
    max-width: 1024px;
}

a{
    text-decoration:none;
    color:#55D400;
    border:none
}

a:hover{
    text-decoration: underline;
}

.error{
    color:red;
}