<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="KuwaibaToolsPU" transaction-type="JTA">
    <jta-data-source>KuwaibaDB</jta-data-source>
    <class>entity.connections.GenericConnection</class>
    <class>entity.connections.physical.ElectricalLink</class>
    <class>entity.connections.physical.GenericPhysicalConnection</class>
    <class>entity.connections.physical.OpticalLink</class>
    <class>entity.connections.physical.RadioLink</class>
    <class>entity.connections.physical.containers.GenericPhysicalContainer</class>
    <class>entity.connections.physical.containers.WireContainer</class>
    <class>entity.connections.physical.containers.WirelessContainer</class>
    <class>entity.core.AdministrativeItem</class>
    <class>entity.core.ApplicationObject</class>
    <class>entity.core.ConfigurationItem</class>
    <class>entity.core.DummyRoot</class>
    <class>entity.core.InventoryObject</class>
    <class>entity.core.MetadataObject</class>
    <class>entity.core.RootObject</class>
    <class>entity.core.ViewableObject</class>
    <class>entity.core.metamodel.AttributeMetadata</class>
    <class>entity.core.metamodel.ClassMetadata</class>
    <class>entity.core.metamodel.PackageMetadata</class>
    <class>entity.equipment.applicationlayer.GenericApplicationElement</class>
    <class>entity.equipment.applicationlayer.Laptop</class>
    <class>entity.equipment.applicationlayer.Printer</class>
    <class>entity.equipment.applicationlayer.Server</class>
    <class>entity.equipment.applicationlayer.TimeSource</class>
    <class>entity.equipment.applicationlayer.WorkStation</class>
    <class>entity.equipment.containers.ACDistributionBoard</class>
    <class>entity.equipment.containers.BatteryBank</class>
    <class>entity.equipment.containers.Cabinet</class>
    <class>entity.equipment.containers.CableManager</class>
    <class>entity.equipment.containers.DCDistributionBoard</class>
    <class>entity.equipment.containers.DDF</class>
    <class>entity.equipment.containers.FuseHolder</class>
    <class>entity.equipment.containers.GenericContainer</class>
    <class>entity.equipment.containers.GenericDistributionFrame</class>
    <class>entity.equipment.containers.ODF</class>
    <class>entity.equipment.containers.Rack</class>
    <class>entity.equipment.datalinklayer.ATMMux</class>
    <class>entity.equipment.datalinklayer.GenericDataLinkElement</class>
    <class>entity.equipment.datalinklayer.PDHMux</class>
    <class>entity.equipment.datalinklayer.SDHMux</class>
    <class>entity.equipment.datalinklayer.Switch</class>
    <class>entity.equipment.datalinklayer.XDSLModem</class>
    <class>entity.equipment.datalinklayer.parts.boards.ATMBoard</class>
    <class>entity.equipment.datalinklayer.parts.boards.DWDMBoard</class>
    <class>entity.equipment.datalinklayer.parts.boards.SDHBoard</class>
    <class>entity.equipment.misc.AirConditioning</class>
    <class>entity.equipment.misc.Slot</class>
    <class>entity.equipment.networklayer.Firewall</class>
    <class>entity.equipment.networklayer.GenericAppliance</class>
    <class>entity.equipment.networklayer.GenericNetworkElement</class>
    <class>entity.equipment.networklayer.NIDS</class>
    <class>entity.equipment.networklayer.Router</class>
    <class>entity.equipment.networklayer.TrafficAnalyzer</class>
    <class>entity.equipment.networklayer.parts.boards.IPBoard</class>
    <class>entity.equipment.physicallayer.DWDMMux</class>
    <class>entity.equipment.physicallayer.ExternalEquipment</class>
    <class>entity.equipment.physicallayer.GenericPhysicalElement</class>
    <class>entity.equipment.physicallayer.RadioShelf</class>
    <class>entity.equipment.physicallayer.Transceiver</class>
    <class>entity.equipment.physicallayer.parts.Antenna</class>
    <class>entity.equipment.physicallayer.parts.GenericPart</class>
    <class>entity.equipment.physicallayer.parts.KVMSwitch</class>
    <class>entity.equipment.physicallayer.parts.SatelliteAntenna</class>
    <class>entity.equipment.physicallayer.parts.SpliceBox</class>
    <class>entity.equipment.physicallayer.parts.boards.GenericBoard</class>
    <class>entity.equipment.physicallayer.parts.boards.HybridBoard</class>
    <class>entity.equipment.physicallayer.parts.boards.RadioBoard</class>
    <class>entity.equipment.physicallayer.parts.computers.GenericComputerPart</class>
    <class>entity.equipment.physicallayer.parts.computers.Keyboard</class>
    <class>entity.equipment.physicallayer.parts.computers.Monitor</class>
    <class>entity.equipment.physicallayer.parts.computers.Mouse</class>
    <class>entity.equipment.physicallayer.power.DieselGenerator</class>
    <class>entity.equipment.physicallayer.power.GenericPowerElement</class>
    <class>entity.equipment.physicallayer.power.UPS</class>
    <class>entity.equipment.physicallayer.power.parts.Battery</class>
    <class>entity.equipment.physicallayer.power.parts.Breaker</class>
    <class>entity.equipment.physicallayer.power.parts.Fuse</class>
    <class>entity.equipment.physicallayer.power.parts.GenericPowerPart</class>
    <class>entity.equipment.physicallayer.power.parts.Rectifier</class>
    <class>entity.equipment.ports.ElectricalPort</class>
    <class>entity.equipment.ports.GenericCommunicationsPort</class>
    <class>entity.equipment.ports.GenericPort</class>
    <class>entity.equipment.ports.OpticalPort</class>
    <class>entity.equipment.ports.PeripheralPort</class>
    <class>entity.equipment.ports.PowerPort</class>
    <class>entity.equipment.ports.VirtualPort</class>
    <class>entity.location.Building</class>
    <class>entity.location.City</class>
    <class>entity.location.Continent</class>
    <class>entity.location.Country</class>
    <class>entity.location.Facility</class>
    <class>entity.location.Floor</class>
    <class>entity.location.GenericLocation</class>
    <class>entity.location.GenericPhysicalNode</class>
    <class>entity.location.Room</class>
    <class>entity.location.Shelter</class>
    <class>entity.location.State</class>
    <class>entity.location.Tower</class>
    <class>entity.location.Warehouse</class>
    <class>entity.multiple.GenericObjectList</class>
    <class>entity.multiple.GenericType</class>
    <class>entity.multiple.companies.Contractor</class>
    <class>entity.multiple.companies.EquipmentProvider</class>
    <class>entity.multiple.companies.GenericCompany</class>
    <class>entity.multiple.companies.LocationOwner</class>
    <class>entity.multiple.companies.ServiceProvider</class>
    <class>entity.multiple.companies.Vendor</class>
    <class>entity.multiple.misc.EnvironmentalCondition</class>
    <class>entity.multiple.people.CorporateCustomer</class>
    <class>entity.multiple.people.Employee</class>
    <class>entity.multiple.people.ExternalSupportStaff</class>
    <class>entity.multiple.people.GenericCustomer</class>
    <class>entity.multiple.people.GenericPerson</class>
    <class>entity.multiple.people.HomeCustomer</class>
    <class>entity.multiple.states.GenericState</class>
    <class>entity.multiple.states.OperationalState</class>
    <class>entity.multiple.states.StructuralState</class>
    <class>entity.multiple.systems.NetworkService</class>
    <class>entity.multiple.systems.OperatingSystem</class>
    <class>entity.multiple.types.connections.containers.PhysicalContainerType</class>
    <class>entity.multiple.types.equipment.PrinterType</class>
    <class>entity.multiple.types.equipment.TimeSourceType</class>
    <class>entity.multiple.types.equipment.containers.DistributionFrameType</class>
    <class>entity.multiple.types.equipment.containers.RackType</class>
    <class>entity.multiple.types.links.ElectricalLinkType</class>
    <class>entity.multiple.types.links.GenericPhysicalLinkType</class>
    <class>entity.multiple.types.links.OpticalLinkType</class>
    <class>entity.multiple.types.links.WireContainerType</class>
    <class>entity.multiple.types.links.WirelessContainerType</class>
    <class>entity.multiple.types.links.WirelessLinkType</class>
    <class>entity.multiple.types.parts.AntennaType</class>
    <class>entity.multiple.types.parts.CommunicationsPortType</class>
    <class>entity.multiple.types.parts.ComputerMonitorType</class>
    <class>entity.multiple.types.parts.KeyboardType</class>
    <class>entity.multiple.types.parts.MouseType</class>
    <class>entity.multiple.types.parts.PeripheralPortType</class>
    <class>entity.multiple.types.parts.PowerPortType</class>
    <class>entity.multiple.types.parts.TowerType</class>
    <class>entity.qos.OLA</class>
    <class>entity.qos.SLA</class>
    <class>entity.qos.services.GenericService</class>
    <class>entity.qos.services.corporate.FTTHService</class>
    <class>entity.qos.services.corporate.GenericCorporateService</class>
    <class>entity.qos.services.corporate.GigaEthernetService</class>
    <class>entity.qos.services.corporate.PDHService</class>
    <class>entity.qos.services.corporate.SDHService</class>
    <class>entity.qos.services.corporate.SONETService</class>
    <class>entity.qos.services.corporate.VoIPService</class>
    <class>entity.qos.services.home.CableDataService</class>
    <class>entity.qos.services.home.CableTVService</class>
    <class>entity.qos.services.home.GenericHomeService</class>
    <class>entity.qos.services.home.MobileDataService</class>
    <class>entity.qos.services.home.VoiceService</class>
    <class>entity.qos.services.home.XDSLService</class>
    <class>entity.queries.Query</class>
    <class>entity.session.ClientDetail</class>
    <class>entity.session.Lock</class>
    <class>entity.session.User</class>
    <class>entity.session.UserGroup</class>
    <class>entity.session.UserSession</class>
    <class>entity.views.ClassView</class>
    <class>entity.views.DefaultView</class>
    <class>entity.views.GenericView</class>
    <class>entity.views.RackView</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties/>
  </persistence-unit>
</persistence>
