/* 
    Document   : main
    Created on : May 25, 2011, 4:19:52 PM
    Author     : Charles Edward Bedon Cortazar <charles.bedon@kuwaiba.org>
    Description:
        Main stylesheet.
*/

/* 
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: small;
    min-height: 600px;
}
table{
    width: 100%;
}
.body{
    width: 1024px;
}

a{
    text-decoration:none;
    color:#55D400;
    border:none
}

a:hover{
    text-decoration: underline;
}

.nav_bar a{
    color: white;
}

.nav_bar td{
    background-color: #B3B3B3;
    padding: 5px 5px 3px 3px;
    width: 33%;
}

.error{
    color:red;
}

.content{
    height: 300px;
    vertical-align: top;
}