
@font-face {
    font-family: ubuntu-r;
    src: url('../fonts/ubuntu-r.ttf');
}

body {
    /* Overrides the default material colors */
    --primary-color: #237AC5;
    /*--material-primary-color: var(--primary-color, #88AA00) !important;*/
    --material-primary-color: #237AC5 !important;
    /*--material-primary-text-color: var(--primary-color, #777777) !important;*/
    --material-primary-text-color: #191C18 !important;
    --material-font-family: 'ubuntu-r' !important;
    --material-body-font-size: 9pt;  
    --material-small-font-size: 8pt;
    --material-button-font-size: 8pt;
    --material-caption-font-size: 8pt;
    --material-icon-font-size: 8pt;
}

/* Inherited styles */
vaadin-radio-group {
    padding: 0px;
    margin: 0px;
}

vaadin-text-field vaadin-password-field {
    font-size: 9pt;
}

vaadin-context-menu-item {
    text-transform: none;
}

vaadin-grid-cell-content {
    padding: 2px;
}

vaadin-menu-bar-button {
    text-transform: none;
}

vaadin-button {
    text-transform: none;
    min-width: 30px;  
}

/* Compact accordion component */
.vaadin-accordion-panel[part="content"] {
    padding: 0px;
}

.vaadin-accordion-panel[part="summary"] {
    min-height: 40px;
}

/*remove margin in icon buttons with class icon-button*/
.icon-button [part="prefix"] > iron-icon {
    margin: 0px;
}

.vaadin-grid[part~="cell"] {
    min-height: 20px;
}

.vaadin-dialog-overlay[part="content"] {
    padding: 8px 24px;
    min-width: 0;
}