/* Power user interface layout */
/*  */
#main-layout {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#main-layout-header {
    max-height: 150px;
}

#main-layout-content {
    font-size: small;
    height: 100%;
    width: 100%;
    padding: 2px;
    margin: 2px;
}

#main-layout-footer {
    max-height: 100px;
    font-size: xx-small;
    color: darkgray;
    padding-bottom: 30px;
    padding-top: 10px;
}

/* Widgets */
/* Most dashboard with a cover component to be clicked to be activated have these properties  */
.widgets-standard-cover {
    position: relative;
    width: 100px;
    height: 100px;
}

.widgets-standard-cover-content {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: medium;
    text-align: center;
}

.widgets-colors-magenta {
    color: white;
    background-color: #9850CE;
}

.widgets-colors-good-green {
    color: white;
    background-color: #5FC8A4;
}

/* To be applied in dialog with lists (a grid) inside   */
.widgets-layout-dialog-list {
   padding: 5px;
   min-height: 350px;
   min-width: 350px;
}

/* Individual components */
.search-box-large {
    width: 500px;
    font-size: small;
}

.search-box-compact {
    width: 200px;
    font-size: xx-small;
}

.radio-button-filters-large {
    width: 500px;
}

.radio-button-filters-compact {
    width: 100px;
    font-size: xx-small;
}

.embedded-notification-error {
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: red;
    color: red;
    background-color: #FFA4A4;
}

.search-result-title {
    color: #299AC8;
    text-align: left;
}

.search-result-actions {
    margin-top: 0px;
    color: #29AD1D;
}

.search-result-action-button {
    padding: 1px;
}

/* Service Manager*/
#serviceman-search-full {
    max-height: 200px;
    width: 100%;
}

#serviceman-quick-actions {
    align-content: center;
    align-items: center;
    width: 100%;
    padding: 1px;
    margin: 1px;
}

#serviceman-search-component {
    
}
/* Assign bolder style to some text */
.bold-text {
    font-weight: bolder;
}

.width30p {
    width: 30%;
}

.width40p {
    width: 40%;
}

.width50p {
    width: 50%;
}

.width100p {
    width: 100%;
}

.width500px {
    width: 500px; 
}
/* Small, secondary-colored text used mainly for footers and image captions */
.text-secondary {
    color: #B3B0B0;
    font-size: .8em;
}

a.text-secondary {
    color: #88AA00;
}

/* To be used in dialogs so the text appears padded. Note that Label instances in Vaadin do not support setPadding or setMargin */ 
.text-padded {
    padding: 5px;
}

 /* used to align to end items in a flex container*/
.align-self-end {
    align-self: flex-end;
}
/* style to reset icon button properties without text*/
.icon-button {
    height: 30px;
}

/* style to compact a little the grid rows */
.grid-compact .vaadin-grid[part~="cell"] > vaadin-grid-cell-content {
    padding: 2px;
}

paper-swatch-picker paper-icon-button {
    border: 1px solid black;
}
/* label of section class icon */
.lbl-icon-dmman {
    width: 70px;
}
/* div used to wrap the class icon image */
.div-icon-dmman {
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.italic {
    font-style: italic;
}

.lbl-accordion {
    font-size: 1.1em;
    color: white;
}
/* vertical line */
.vl {
  border-left: 6px solid green;
  height: 90%;
}

.primary-button {
    background-color:var(--material-primary-color);
    color: white;
    font-weight: bold;
}

.hintMplsView {
    font-style: italic;
    font-size: .9em;
}