
@font-face {
    font-family: ubuntu-r;
    src: url('../fonts/ubuntu-r.ttf');
}

body {
    /* Overrides the default material colors */
    --material-primary-color: var(--primary-color, #5F9F9F) !important;
    --material-primary-text-color: var(--primary-color, #5F9F9F) !important;
    --material-font-family: 'ubuntu-r' !important;
    --material-body-font-size: small;  
}

/* Inherited styles */
vaadin-radio-group {
    font-size: small;
    padding: 0px;
    margin: 0px;
}

vaadin-text-field vaadin-password-field {
    font-size: small;
}

vaadin-context-menu-item {
    text-transform: none;
}

vaadin-grid-cell-content {
    padding: 2px;
}

vaadin-menu-bar-button {
    text-transform: none;
}

vaadin-button {
    text-transform: none;
    min-width: 30px;  
}

/*compact accordion component*/
.vaadin-accordion-panel[part="content"] {
    padding: 0px;
}
/*remove margin on icon buttons with the class icon-button*/
.icon-button [part="prefix"] > iron-icon {
    margin: 0px;
}

.vaadin-grid[part~="cell"] {
    min-height: 20px;
}
