
@font-face {
    font-family: ubuntu-r;
    src: url('../fonts/ubuntu-r.ttf');
}

body {
    /* Overrides the default material colors */
    --material-primary-color: var(--primary-color, #5F9F9F) !important;
    --material-primary-text-color: var(--primary-color, #5F9F9F) !important;
    --material-font-family: 'ubuntu-r' !important;
    --material-body-font-size: small;
    
}

/* Inherited styles */
vaadin-radio-group {
    font-size: small;
    padding: 0px;
    margin: 0px;
}

vaadin-text-field vaadin-password-field {
    font-size: small;
/*    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    border-color: darkgray;
    padding: 2px 2px 2px 2px;*/
}

vaadin-context-menu-item {
    text-transform: none;
}

vaadin-grid-cell-content {
    padding: 2px;
}

vaadin-menu-bar-button {
    text-transform: none;
}

vaadin-button {
    text-transform: none;
}

/*vaadin-text-field-container {
    
}*/
