/* 
    Created on : Jul 26, 2018, 11:32:27 AM
    Author     : johnyortega
*/
/*
* {
    margin: 0px;
    padding: 0px;
    font-size: 8pt;
    font-family:Calibri;
}
*/
.paperA4 {
    width: 297mm;
    height: 210mm;

    min-height: 297mm;
    min-width: 210mm;

    max-height: 297mm;
    max-width: 210mm;

    /*background: #eaefea;*/
}

.tabledatakey {
  color:#404040;
  vertical-align:middle;
  background-color:#ffffff;
  border-style: solid;
  border-width: thin;
  border-color:#000000;
  text-align:left ! important;
  margin-left:0pt;
  writing-mode:page;
  font-style:normal;
  text-shadow:none;
  text-decoration:none ! important;
  font-weight:bold;

}

.tabledatavalue {
  color:#404040;
  vertical-align:middle;
  background-color:#afffaf;
  border-style: solid;
  border-width: thin;
  border-color:#000000;
  text-align:left ! important;
  margin-left:0pt;
  writing-mode:page;
  font-style:normal;
  text-shadow:none;
  text-decoration:none ! important;
}

.tableheader {
  color:#404040;
  vertical-align:middle;
  background-color:#ffffff;
  border-style: solid;
  border-width: thin;
  border-left-width: 0px;
  border-color:#000000;
  text-align:left ! important;
  margin-left:0pt;
  writing-mode:page;
  font-style:normal;
  text-shadow:none;
  text-decoration:none ! important;
  font-weight:bold;
}

.tabledata {
  color:#404040;
  vertical-align:middle;
  background-color:#afffaf;
  border-style: solid;
  border-width: thin;
  border-left-width: 0px;
  border-top-width: 0px;
  border-color:#000000;
  text-align:left ! important;
  margin-left:0pt;
  writing-mode:page;
  font-style:normal;
  text-shadow:none;
  text-decoration:none ! important;
  font-weight:bold;
}

.tabledataempty {
  color:#000000;
  vertical-align:bottom;
}

.tabletitle {
  color:#000000;
  vertical-align:bottom;
  background-color:#ffffff;
  border-style:none;
  margin-left:0pt;
  writing-mode:page;
  font-style:normal;
  text-shadow:none;
  text-decoration:none ! important;
  font-weight:bold;
}

.aline {
  color:#000000;
  font-size:12pt;
  font-family:Calibri;
  vertical-align:bottom;
  border-bottom-width:thin;
  border-bottom-style:solid;
  border-bottom-color:#000000;
  background-color:#ffffff;
  border-left-style:none;
  border-right-style:none;
  border-top-style:none;
  margin-left:0pt;
  writing-mode:page;
  font-style:normal;
  text-shadow:none;
  text-decoration:none ! important;
  font-weight:normal;
}

.bline {
  color:#000000;
  font-size:12pt;
  font-family:Calibri;
  vertical-align:bottom;
  border-bottom-width:thin;
  border-bottom-style:solid;
  border-bottom-color:#000000;
  background-color:#ffffff;
  border-left-style:none;
  border-right-style:none;
  border-top-style:none;
  text-align:center ! important;
  margin-left:0pt;
  writing-mode:page;
  font-style:normal;
  text-shadow:none;
  text-decoration:none ! important;
  font-weight:normal;
}



