grant {
	permission java.util.PropertyPermission "*","read,write";
	permission java.util.PropertyPermission "sun.arch.data.model","read";
	permission java.io.FilePermission "persistence.properties","read";
	permission java.io.FilePermission "<<ALL FILES>>","read,write,delete";
	permission java.lang.RuntimePermission "accessDeclaredMembers", "read";
	permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
	permission java.lang.management.ManagementPermission "monitor";
	permission java.net.NetPermission "getNetworkInformation";
	permission javax.management.MBeanServerPermission "createMBeanServer";
	permission java.lang.RuntimePermission "getFileSystemAttributes";
	permission java.lang.RuntimePermission "modifyThread";
};